*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:lightgray;
    background: url(img/bg.jpg);
}

/* header */
#site_header{
    background-color: white;
    padding: 10px 20px;
}

/* main */
#site_main{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: auto;
    opacity: 0.8;
}

/* nav */
#site_nav{
    background-color: white;
}

/* bottons */
#botton_1{
    background-color: #d014f5;
    color: white;
    border: 1px solid #d014f5;
    margin-left: 50px;
}
#botton_2{
    background-color: rgb(10, 201, 20);
    color: #f7ef84;
    border: 1px solid rgb(10, 201, 20);
    margin-left: 5px;
}
nav{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
nav>button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 6px 13px;
}

#section{
    margin-top: 2px;
    background-color: white;
    padding: 50px 50px;
}

/* true - false section  */
.true{
    color: #30C7AD;
    border: 1px solid #30C7AD;
    border-radius: 50%;
    padding: 2px 0px 1px 3px;
    margin: 0px 10px 0px 0px;
}
.false{
    color: #FF3535;
    border: 1px solid #FF3535;
    border-radius: 50%;
    padding: 2px 0px 1px 3px;
    margin: 0px 10px 0px 0px;
}

/* text section */
.title_group{
    text-align: center;
    margin-bottom: 10px;
}
.title_text{
    font-weight: bold;
    font-size: 1.6em;
}
.text{
    font-size: 1.2em;
}
.text_style{
    margin-top: 20px;
}
.sub_section{
    margin-bottom: 45px;
}

/* main group buttons */
.section_button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    padding: 6px 13px;
    color: white;
    border: 1px solid;
}
#new_task_editioral_button, #today_editioral_button{
    background-color: #14AAF5;
}
#today_q1_goal_button{
    background-color: #7e00df;
}
#today_recruiting_button{
    background-color: #42ffdc;
}
#today_mobile_button{
    background-color: #0077ff;
}
#upcoming_website_button{
    background-color: #205886;
}
#upcoming_sales_button{
    background-color: #ff0404;
}
#upcoming_editorial_button{
    background-color: #0a742a;
}

#section{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}